<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team.codealmanac.w2do">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    // permission for google+ login
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    // google map permission
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />

        <receiver
            android:name=".W2DoBroadCastReceiver"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".W2DoService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.team.codealmanac.w2do.startLockService" />
            </intent-filter>

        </service>

        <receiver
            android:name=".PushAlarmReciever"
            android:enabled="true"
            android:exported="false" />

        <!-- [START firebase_service] -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->

        <!-- [START firebase_iid_service] -->
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->
        <activity android:name=".FirebaseTestActivity" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".LockScreenActivity"
            android:theme="@style/AppTheme.NoActionBarFullscreen"
            android:launchMode="singleInstance"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InFolderActivity"
            android:theme="@style/AppTheme.TransparentStatusBarOnToolbar" />
        <activity
            android:name=".DetailInputActivity"
            android:theme="@style/AppTheme.TransparentStatusBarOnToolbar" />
        <activity
            android:name=".dialog.DatePickerDialogActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />

        <activity android:name=".NavEditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".NavTeamActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".NavSettingPrefActivity"
            android:label="@string/nav_setting"
            android:theme="@style/SettingAppTheme" />

    </application>

</manifest>